<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SARAH</title>
    <link href="/public/css/pagePattern.css" rel="stylesheet">
    <link href="/public/css/tailwind/style.css" rel="stylesheet">
    <link href="/public/css/client/landingPage.css" rel="stylesheet">
    <link href="/public/css/client/productCard.css" rel="stylesheet">
    <link href="/public/css/client/carouselControllStyles.css" rel="stylesheet">
    <link href="/public/css/client/footer.css" rel="stylesheet">

    <script>
        // Obtem os dados enviados do backend e converte para JSON
        const data = JSON.parse('<%- JSON.stringify(data) %>');
        if (!data) {
            console.error('Dados incompletos.');
            window.location.href = "/error";
        }
        // Separa os dados em variáveis
        const user = data.user;
        const cart = data.user?.cart || {};
        const wishlist = data.user?.wishlist || {};
        const page = data.page
    </script>
</head>

<body>
    <!-- Header -->
    <%- include('partials/_header') %>
        <main class="w-full h-full flex-grow flex flex-col">
            <% data.components.sort((a, b)=> a.section_position - b.section_position)
                .forEach(component => { %>
                <% if (component.section_model==='banner' && component.is_active) { %>
                    <%- include('partials/landingPageComponents/bannerCarousel', { component: component }) %>
                        <% } %>
                            <% if (component.section_model==='highlight' && component.is_active) { %>
                                <%- include('partials/landingPageComponents/highlightsCarousel', { component:
                                    component}) %>
                                    <% } %>
                                        <% if (component.section_model==='grid' && component.is_active) { %>
                                            <%- include('partials/landingPageComponents/itemGrid', { component:
                                                component }) %>
                                                <% } %>
                                                    <% }); %>
        </main>

        <!-- Footer -->
        <%- include('partials/_footer') %>

            <script src="/public/js/client/categoryAsideMenu.js"></script>
            <script src="/public/js/client/header.js"></script>
            <script src="/public/js/client/loginAndRegister.js"></script>
            <script src="/public/js/client/landingPage.js"></script>
</body>

</html>