<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= data.products.product_name %> - SARAH
  </title>
  <link rel="shortcut icon" href="/public/images/logo/logo_dourado_preto_icon.ico" type="image/x-icon">
  <link href="/public/css/pagePattern.css" rel="stylesheet">
  <link href="/public/css/tailwind/style.css" rel="stylesheet">
  <link href="/public/css/client/carouselControllStyles.css" rel="stylesheet">
  <link href="/public/css/messageModal/modal.css" rel="stylesheet">
  <link href="/public/css/client/footer.css" rel="stylesheet">
  <link href="/public/css/client/categoryAsideMenu.css" rel="stylesheet">
  <link href="/public/css/client/loginRegisterModal.css" rel="stylesheet">
  <link href="/public/css/client/wishlist.css" rel="stylesheet">
  <link href="/public/css/client/productPage.css" rel="stylesheet">
  <link href="/public/css/client/reviewStars.css" rel="stylesheet">

  <script>
    // Obtem os dados enviados do backend e converte para JSON
    const data = JSON.parse('<%- JSON.stringify(data) %>');
    if (!data) {
      console.error('Dados incompletos.');
      window.location.href = "/error";
    }
    // Separa os dados em variáveis
    const user = data.user;
    const cart = user?.cart;
    const wishlist = user?.wishlist;
    const product = data.products;
    const variants = product?.variants;
    const page = data.page
  </script>
</head>

<body>
  <%- include('partials/_header') %>
    <%- include('partials/_categoryAsideMenu') %>
      <%- include('partials/_loginRegisterModal') %>
        <main class="container mx-auto py-10 w-full xl:w-4/5 h-full flex-grow"
          data-product-public-id="<%= data.products.product_public_id %>"
          data-product-name="<%= data.products.product_name %>"
          data-in-wishlist="<%= data.products.product_in_wishlist %>">
          <!-- Breadcrumbs -->
          <%- include('partials/_breadcrumbs', {breadcrumbs: data.page.breadcrumbs}) %>

            <div class="flex flex-col lg:grid lg:grid-cols-3 lg:grid-flow-col-dense xl:grid-cols-5 gap-8 mt-10">
              <!-- Imagens do produto -->
              <div class="relative w-full max-h-4/5 lg:flex lg:col-span-2 xl:col-span-3 lg:flex-row">

                <!-- Carrossel para telas pequenas -->
                <div class="lg:hidden overflow-hidden shadow-lg flex cols-3 h-full">
                  <!-- Botões de Controle do Carrossel (Telas Pequenas) -->
                  <button type="button" onclick="prevImage()" class="carousel-control prev">
                    <img class="prevBlack" src="/public/images/icons/arrow_prev_icon_black.svg" alt="previous">
                    <img class="prevWhite" src="/public/images/icons/arrow_prev_icon_white.svg" alt="previous">
                  </button>
                  <button type="button" onclick="nextImage()" class="carousel-control next">
                    <img class="forwBlack" src="/public/images/icons/arrow_forward_icon_black.svg" alt="next">
                    <img class="forwWhite" src="/public/images/icons/arrow_forward_icon_white.svg" alt="next">
                  </button>
                  <div
                    class="lg:flex lg:flex-col lg:flex-nowrap lg:space-y-2 lg:overflow-y-auto overflow-hidden block lg:hidden">
                    <div class="flex-shrink-0">
                      <!-- Imagem do Carrossel para Telas Pequenas -->
                      <div id="carouselCurrentImage" class="hidden lg:hidden h-full" data-carouselItemIndex>
                        <img class="imagemProdutoTelaPequena w-full h-auto object-cover"
                          alt="<%= data.products.product_name %>">
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Container Principal para Imagem e Miniaturas -->
                <div class="hidden lg:flex w-full max-h-[700px] 2xl:max-h-[800px]" id="mainImageContainer">
                  <!-- Lista de Miniaturas com Scroll -->
                  <div class="flex flex-shrink-0 flex-col mr-5 h-full">
                    <!-- Botão para Subir -->
                    <button id="scrollUpButton"
                      class="w-full bg-white/80 border border-transparent hover:border-gray-500 p-1 shadow-lg"
                      onclick="scrollCarousel(-150)">
                      <svg class="w-4 h-4 text-gray-500 mx-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                          d="M1 5l4-4 4 4" />
                      </svg>
                    </button>

                    <!-- Carrossel de Miniaturas -->
                    <ul id="miniImageCarousel"
                      class="lg:flex lg:flex-col lg:space-y-2 overflow-y-auto h-full custom-scrollbar">
                      <% data.products.variant_images.forEach((image)=> { %>
                        <li class="flex-shrink-0">
                          <button onclick="changeMainImage('<%= image %>', this)">
                            <img class="w-28 h-auto hover:border border-gray-500" src="<%= image %>"
                              alt="<%= data.products.product_name %>">
                          </button>
                        </li>
                        <% }); %>
                    </ul>

                    <!-- Botão para Descer -->
                    <button id="scrollDownButton"
                      class="w-full bg-white/80 border border-transparent hover:border-gray-500 p-1"
                      onclick="scrollCarousel(150)">
                      <svg class="w-4 h-4 text-gray-500 mx-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                          d="M1 1l4 4 4-4" />
                      </svg>
                    </button>
                  </div>

                  <!-- Imagem Principal -->
                  <div id="mainVisualizationProductImage"
                    class="shadow-lg lg:block h-[700px] 2xl:h-[800px] w-fit mx-auto">
                    <img class="object-cover w-auto h-full" src="<%= data.products.variant_images[0] %>"
                      alt="<%= data.products.product_name %>">
                  </div>
                </div>
              </div>

              <!-- Informações do Produto -->
              <div class="px-5 lg:px-0 xl:col-span-2">
                <h1 id="productName" class="text-3xl font-bold text-black">
                  <%= `${data.products.product_name} ${data.products.variant_color_name}` %>
                </h1>
                <%- include('partials/productReviewStars/productReviewStars', { product: data.products }) %>
                  <% if ( data.products.total_stock_quantity> 0) { %>
                    <p id="productPrice"
                      class="text-xl text-amber-400 mt-2 <%= data.products.variant_stock_quantity === 0 ? 'hidden' : '' %>">
                      R$ <%= data.products.variant_unit_price %>
                    </p>
                    <% } %>
                      <p id="ProductDescription" class="text-gray-700 mt-4">
                        <%= data.products.product_description.split('<br>')[0] %>
                      </p>

                      <% if ( data.products.total_stock_quantity===0) { %>
                        <div id="unavaliableMessage" class="product-unavailable-message">
                          <h2>Produto Indisponível</h2>
                          <p>Infelizmente o produto <strong>
                              <%= data.products.product_name %>
                            </strong> está temporariamente fora de estoque.</p>
                          <p>Por favor, verifique novamente mais tarde</p>
                          <span>ou</span>
                          <a href="<%= data.page.breadcrumbs[2].url %>">Ver produtos similares</a>
                        </div>
                        <% } else { %>
                          <!-- Opções de cores -->
                          <div class="mt-6">
                            <h2 id="colorTitle" class="text-sm">Cor: <b>
                                <%= data.products.variant_color_name%>
                              </b>
                            </h2>
                            <div id="productColorVariants" class="flex space-x-4 mt-2">
                              <% const displayedColors=new Set(); const colorsWithNoStock=new Map();
                                data.products.variants.forEach(variant=>{
                                if (!displayedColors.has(variant.variant_color_name)) {
                                if (variant.variant_stock_quantity > 0) {
                                displayedColors.add(variant.variant_color_name);
                                colorsWithNoStock.delete(variant.variant_color_name);%>
                                <div id="productColor_<%= variant.variant_public_id %>"
                                  data-productSku="<%= variant.variant_public_id %>"
                                  data-productStock="<%= variant.variant_stock_quantity %>"
                                  data-variantColor="<%= variant.variant_color_name %>" data-variantType="color"
                                  class="colorOption">
                                  <button onclick="loadVariantData(this)" title="<%= variant.variant_color_name %>"
                                    style="background-color: <%= variant.variant_color_code %>"></button>
                                </div>
                                <% } else { colorsWithNoStock.set(variant.variant_color_name, variant); } } });
                                  colorsWithNoStock.forEach((variant)=> {
                                  %>
                                  <div id="productColor_<%= variant.variant_public_id %>"
                                    class="rounded-full border border-gray-300 w-10 h-10 bg-white flex justify-center items-center">
                                    <button disabled class="w-8 h-8 rounded-full cursor-not-allowed"
                                      title="<%= variant.variant_color_name %>"
                                      style="background-color: <%= variant.variant_color_code %>"></button>
                                  </div>
                                  <% }); %>
                            </div>
                          </div>

                          <!-- Opções de tamanhos -->
                          <div class="mt-6">
                            <h2 id="sizeTitle" class="text-sm">Tamanho: <b>
                                <%= data.products.variant_size %>
                              </b>
                            </h2>
                            <div id="productSizesComponent" class="flex flex-wrap mt-2">
                              <% data.products.variants.forEach(variant=> {
                                if (variant.variant_color_name === data.products.variant_color_name) { %>
                                <div id="productSize_<%= variant.variant_public_id %>"
                                  data-productSku="<%= variant.variant_public_id %>"
                                  data-productStock="<%= variant.variant_stock_quantity %>" data-variantType="size">
                                  <button <%=variant.variant_stock_quantity==0 ? ' disabled '
                                    : ' onclick=loadVariantData(this) ' %> class="sizeOption">
                                    <%= variant.variant_size %>
                                  </button>
                                </div>
                                <% } }) %>
                            </div>
                          </div>

                          <!-- Mensagem de produto indisponível -->
                          <% if (data.products.variant_stock_quantity===0) { %>
                            <div id="unavaliableMessage" class="product-unavailable-message">
                              <h2>Produto Indisponível</h2>
                              <p>Infelizmente o produto <strong>
                                  <%= `${data.products.product_name} ${data.products.variant_color_name}
                                    ${data.products.variant_size} `%>
                                </strong> está temporariamente fora de estoque.</p>
                              <p>Por favor, verifique novamente mais tarde ou selecione outro produto</p>
                            </div>
                            <% } %>
                              <!-- Botão de Comprar e Favorito -->
                              <div id="favoriteAndShopContainer" <%=data.products.variant_stock_quantity===0
                                ? 'class=disabled' : '' %>>
                                <!-- Botão de favoritos -->

                                <div>
                                  <div class="wishlist-button-wrapper">
                                    <button
                                      onclick="addRemoveProductFromWishlist('<%= data.products.product_public_id %>')"
                                      <%=data.products.variant_stock_quantity===0 ? ' disabled ' : '' %>
                                      class="favorite-btn">
                                      <img src="/public/images/icons/favorite_icon_border_black.svg" alt="Favoritar"
                                        class="favorite-icon">
                                      <img src="/public/images/icons/favorite_icon_fill_black.svg" alt="Favoritado"
                                        class="favorite-icon-hover">
                                    </button>
                                  </div>
                                  <button id="addToCartButton" class="action-btn-contrast"
                                    <%=data.products.variant_stock_quantity===0 ? ' disabled ' : '' %>>Adicionar
                                    ao
                                    Carrinho</button>
                                </div>
                              </div>

                              <% } %>
              </div>
            </div>
            <!-- Informações adicionais -->
            <div class="mt-10 p-5 lg:">
              <h2 class="text-2xl font-bold">Detalhes do Produto</h2>
              <p class="mt-4 text-gray-700">
                <%- data.products.product_description %>
              </p>
            </div>
        </main>

        <!-- Footer -->
        <%- include('partials/_footer') %>

          <script src="/public/js/messageModal/toastMessageModal.js"></script>
          <script src="/public/js/messageModal/centralMessageModal.js"></script>
          <script src="/public/js/messageModal/sessionExpiredModal.js"></script>
          <script src="/public/js/messageModal/loginNeddedMessageModal.js"></script>
          <script src="/public/js/statusHandler/statusHandler.js"></script>
          <script src="/public/js/client/categoryAsideMenu.js"></script>
          <script src="/public/js/client/header.js"></script>
          <script src="/public/js/client/loginAndRegister.js"></script>
          <script src="/public/js/client/product.js"></script>
          <script src="/public/js/client/wishlist.js"></script>

</body>

</html>