<section>
    <div id="categoriesOverlay" onclick="closeCategoriesMenu()"></div>

    <aside id="category-aside-menu">
        <!-- Menu Principal -->
        <div id="menuContainer">
            <button onclick="toggleCategoryAsideMenu()">
                <img src="/public/images/icons/close_icon_white.svg" alt="closeButton" class="close-icon">
            </button>
            <ul>
                <% data.page.categories.forEach(category=> { %>
                    <li class="menu-item">
                        <button class="menuItem category" onclick="toggleSubmenu('<%= category.name %>Submenu')">
                            <%= category.name %>
                        </button>
                        <img src="/public/images/icons/arrow_right_icon_white.svg" alt="Arrow right white"
                            class="arrow">
                    </li>
                    <% }) %>
                        <li class="menu-item only-small-screen-item">
                            <a href="/c/novidades" class="menuItem category">Novidades</a>
                        </li>
                        <li class="menu-item only-small-screen-item">
                            <a href="/c/mais-vendidos" class="menuItem category">Mais Vendidos</a>
                        </li>
                        <li class="menu-item only-small-screen-item">
                            <a href="/c/promocoes" class="menuItem category">Promoções</a>
                        </li>
            </ul>
        </div>

        <!-- Submenu -->
        <div id="submenuContainer">
            <button onclick="toggleSubmenu()">
                <img src="/public/images/icons/arrow_back_icon_white.svg" alt="backButton" class="back-icon">
            </button>

            <% data.page.categories.forEach(category=> { %>
                <ul id="<%= category.name %>Submenu" class="submenu">
                    <li>
                        <a href="/c/<%= category.name.toLowerCase() %>" class="categoryMenuItemGetAll">Ver
                            tudo</a>
                    </li>
                    <% category.subcategories.forEach(subcategory=> { %>
                        <li>
                            <a href="/c/<%= category.name.toLowerCase() %>/<%= subcategory.name.toLowerCase() %>"
                                class="menuItem">
                                <%= subcategory.name %>
                            </a>
                        </li>
                        <% }) %>
                </ul>
                <% }) %>
        </div>
    </aside>
</section>