<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Produtos - SARAH</title>
    <link href="/public/css/pagePattern.css" rel="stylesheet">
    <link href="/public/css/tailwind/style.css" rel="stylesheet">
</head>

<body>
    <%- include('partials/_header') %>

        <main class="container mx-auto py-10 w-full px-5 xl:px-0 xl:w-full min-h-full items-center flex-grow">
            <!-- Breadcrums -->
            <%- include('partials/_breadcrums') %>
                <!-- titulo e botao de filtro -->
                <div class="flex flex-col md:flex-row w-full mb-10 mx-auto justify-between items-center">
                    <!-- Titulo e quantidade de resultados -->
                    <div class="flex flex-col md:flex-row items-center space-x-4">
                        <!-- Titulo -->
                        <div class="text-xl flex text-center">
                            <span>
                                <%= data.page?.title %>
                            </span>
                        </div>
                        <!-- Quantidade de resultados (produtos) -->
                        <div class="text-sm">
                            <p>
                                <%= data.page?.quantResults %> produtos
                            </p>
                        </div>
                    </div>
                    <!-- Botão Filtrar e Ordenar -->
                    <button
                        class="bg-white w-full mt-4 md:w-auto md:mt-0 text-black border border-black hover:bg-black hover:text-white font-bold p-2">
                        Filtrar e Ordenar
                    </button>
                </div>
                <!-- Filtros -->

                <!-- Lista de Produtos -->
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-6">
                    <% data.products?.forEach(product=> { %>
                        <div class="bg-white shadow-lg hover:shadow-xl transition-shadow h-full">
                            <div class="hover:relative group w-full h-auto">
                                <!-- Link e imagens do produto -->
                                <a href="<%= product.url %>" class="block h-full w-full">
                                    <div class="w-full h-auto">
                                        <!-- Primeira imagem (imagem padrão) -->
                                        <img src="<%= product.images[0] %>" alt="<%= product.name %>"
                                            class="w-full h-auto object-cover transition duration-500 ease-in-out group-hover:hidden">
                                        <!-- Segunda imagem (imagem ao hover) -->
                                        <img src="<%= product.images[1] %>" alt="<%= product.name %>"
                                            class="w-full h-auto object-cover hidden transition duration-500 ease-in-out group-hover:block">
                                    </div>
                                </a>

                                <!-- Botão adicionar ao carrinho -->
                                <div class="hidden w-full group-hover:block absolute bottom-0 z-10">
                                    <button onclick="addItemToCart('<%= product.sku %>')"
                                        class="w-full bg-white text-black border border-black hover:bg-black hover:text-white font-bold p-2">
                                        Adicionar ao carrinho
                                    </button>
                                </div>

                                <!-- Botão de favoritos -->
                                <div
                                    class="hidden group-hover:block absolute top-0 left-0 z-10 p-2 flex flex-row items-center">
                                    <button onclick="addItemToWishlist('<%= product.sku %>')"
                                        class="favorite-btn relative">
                                        <img src="/public/images/icons/favorite_icon_border_black.svg" alt="Favoritar"
                                            class="w-8 h-8 favorite-icon">
                                        <img src="/public/images/icons/favorite_icon_fill_black.svg" alt="Favoritado"
                                            class="w-8 h-8 hidden favorite-icon-hover">
                                    </button>
                                </div>
                            </div>

                            <!-- Nome e Preço do Produto -->
                            <a href="<%= product.url %>" class="block w-full">
                                <div class="p-4 mb-2 text-center flex flex-col h-auto my-auto">
                                    <h3 class="block text-md text-[#333333] mx-auto min-h-[48px]">
                                        <%= product.name %>
                                    </h3>
                                    <div class="text-md items-end h-10 flex-grow flex-col">
                                        <div>
                                            <% if (product.isOnSale) { %>
                                                <span class="line-through text-[#333333]">R$ <%= product.price %></span>
                                                <span class="text-red-600 font-bold text-lg">R$ <%= product.promoPrice
                                                        %>
                                                </span>
                                                <% } else { %>
                                                    <span class="text-[#333333] text-lg font-bold">R$ <%= product.price
                                                            %>
                                                    </span>
                                                    <% } %>
                                        </div>
                                        <span class="text-[#333333]">3x de <%= ((parseInt(product.promoPrice ||
                                                product.price))/3).toFixed(2) %>*</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }); %>
                </div>

                <!-- Paginação -->
                <div class="flex flex-col mt-10">
                    <div class="flex justify-center items-center p-2">
                        <p class="text-sm">VOCÊ ESTÁ NA PÁGINA</p>
                    </div>
                    <div class="flex justify-center items-center space-x-2">
                        <button <% if( data.pagination?.currentPage) { %>
                            class="bg-white text-black border border-black px-4 py-2" disabled
                            <% } else{ %>
                                class="bg-white text-black border border-black px-4 py-2 hover:bg-black hover:text-white
                                font-bold"
                                <% } %>>
                                    Anterior
                        </button>

                        <div class="text-xl">
                            <span class="font-bold">
                                <%= data.pagination.currentPage %>
                            </span> | <span>
                                <%= data.pagination.totalPages %>
                            </span>
                        </div>

                        <button <% if( data.pagination.currentPage===data.pagination.totalPages) { %>

                            class="bg-white text-black border border-black px-4 py-2" disabled
                            <% } else{ %>
                                class="bg-white text-black border border-black px-4 py-2 hover:bg-black hover:text-white
                                font-bold"
                                <% } %>>
                                    Próxima
                        </button>
                    </div>
                </div>

        </main>
        <!-- Footer -->
        <%- include('partials/_footer') %>

            <script>
                // Obtem os dados enviados do backend e converte para JSON
                const data = JSON.parse('<%- JSON.stringify(data) %>');
                console.log(data)
                if (!data) {
                    console.error('Dados incompletos.');
                    window.location.href = "/error";
                }
                // Separa os dados em variáveis
                const user = data.user;
                const cart = data.user.cart || {};
                const wishlist = data.user.wishlist || {};
                const products = data.products;
                const page = data.page
            </script>
            <script src="/public/js/categoryAsideMenu.js"></script>
            <script src="/public/js/header.js"></script>
            <script src="/public/js/loginAndRegister.js"></script>
</body>

</html>