<div id="bannerSection_<%= component.id %>" class="banner-section">
    <% let bannerCount=0; let activeFirst=true; component.section_content.forEach(content=> {
        if(content.image_large && content.image_small && content.link && content.link_name){ %>
        <div class="bannerDiv" data-index="<%= bannerCount %>" data-active="<%= activeFirst %>">
            <a href="<%= content.link%>">
                <img class="banner_image_large" src="<%= content.image_large %>" alt="bannerImage">
                <img class="banner_image_small" src="<%= content.image_small %>" alt="bannerImage">
                <a href="<%= content.link%>" class="banner_button">
                    <%= content.link_name%>
                </a>
            </a>
        </div>
        <% bannerCount++; activeFirst=false; } }) %>
            <!-- Botões de controle do carrossel -->
            <button class="carousel-control prev" onclick="moveBannerCarousel(-1)">
                <img class="prevBlack" src="/public/images/icons/arrow_prev_icon_black.svg" alt="previous">
                <img class="prevWhite" src="/public/images/icons/arrow_prev_icon_white.svg" alt="previous">
            </button>
            <button class="carousel-control next" onclick="moveBannerCarousel(1)">
                <img class="forwBlack" src="/public/images/icons/arrow_forward_icon_black.svg" alt="next">
                <img class="forwWhite" src="/public/images/icons/arrow_forward_icon_white.svg" alt="next">
            </button>
</div>