<div id="carouselSection_<%= component.id %>"
    class="carousel-section <%= data.page.mode === 'edit' ? 'editable' : '' %>" data-component-id="<%= component.id %>"
    data-component-content-type="<%= component.content_type %>"
    data-component-section-model="<%= component.section_model %>"
    data-component-section-position="<%= component.section_position %>" data-element="section"
    data-title="<%= component.title %>" data-product-type="<%= component.product_type %>"
    data-product-limit="<%= component.product_limit %>" data-end-date="<%= component.end_date %>">
    <% if (data.page.mode==='edit' ) { %>
        <div class="edit-buttons" data-component-id="bannerSection_<%= component.id %>">
            <button class="edit-btn"
                onclick="showEditComponentModal('carouselSection_<%= component.id %>', 'carousel')">
                <img src="/public/images/icons/edit_pen_icon_white.svg" alt="editar">
            </button>
            <button class="move-btn" onclick="moveElement(this, 'section')">
                <img src="/public/images/icons/move_icon_white.svg" alt="mover">
            </button>
            <button class="delete-btn" onclick="deleteElement(this)">
                <img src="/public/images/icons/remove_icon_white.svg" alt="remover">
            </button>
        </div>
        <% } %>

            <div class="titleSection">
                <h2 id="carouselSection_<%= component.id %>_title">
                    <%= component.title %>
                </h2>
            </div>
            <div id="carousel-content_<%= component.id %>" class="carousel-content container">
                <% component.section_content.forEach(item=> { %>
                    <% if (item.landing_page_component_id===component.id && item.is_active) { %>
                        <div class="product-card <%= data.page.mode === 'edit' ? 'editable draggable' : '' %>"
                            draggable="true" data-element="item">
                            <div class="product-image-wrapper">
                                <!-- Link e imagens do produto -->
                                <a href="<%= item.product.url %>" class="product-link">
                                    <div class="product-images">
                                        <!-- Primeira imagem (imagem padrão) -->
                                        <img src="<%= item.product.images[0] %>" alt="<%= item.product.name %>"
                                            class="product-image-default">
                                        <!-- Segunda imagem (imagem ao hover) -->
                                        <img src="<%= item.product.images[1] %>" alt="<%= item.product.name %>"
                                            class="product-image-hover">
                                    </div>
                                </a>
                                <% if (data.page.mode !=='edit' ) { %>
                                    <!-- Botão de favoritos -->
                                    <div class="wishlist-button-wrapper">
                                        <button onclick="addItemToWishlist('<%= item.product.sku %>')"
                                            class="favorite-btn">
                                            <img src="/public/images/icons/favorite_icon_border_black.svg"
                                                alt="Favoritar" class="favorite-icon">
                                            <img src="/public/images/icons/favorite_icon_fill_black.svg"
                                                alt="Favoritado" class="favorite-icon-hover">
                                        </button>
                                    </div>
                                    <% } %>
                            </div>
                            <!-- Nome e Preço do Produto -->
                            <a href="<%= item.product.url %>" class="product-info-link">
                                <div class="product-info">
                                    <h3 class="product-name">
                                        <%= item.product.name %>
                                    </h3>
                                    <div class="product-price">
                                        <% if (item.product.isOnSale) { %>
                                            <span class="price-old">R$ <%= item.product.price %>
                                            </span>
                                            <span class="price-new">R$ <%= item.product.promoPrice %></span>
                                            <% } else { %>
                                                <span class="price-current">R$ <%= item.product.price %></span>
                                                <% } %>
                                                    <span class="price-installments">
                                                        <%= item.product.installments %>x de
                                                            R$ <%= item.product.installment_value %>
                                                                *
                                                    </span>
                                    </div>
                                </div>
                            </a>
                            <!-- <% if (data.page.mode==='edit' ) { %>
                                <div class="edit-buttons" data-component-id="bannerSection_<%= component.id %>">
                                    <button class="move-btn" onclick="moveElement(this, 'item')">
                                        <img src="/public/images/icons/move_icon_white.svg" alt="mover">
                                    </button>
                                    <button class="delete-btn" onclick="deleteElement(this)">
                                        <img src="/public/images/icons/remove_icon_white.svg" alt="remover">
                                    </button>
                                </div>
                                <% } %> -->
                        </div>
                        <% } %>
                            <% }); %>
            </div>
            <!-- Botões de controle do carrossel -->
            <button class="carousel-control prev" onclick="movecarousel(-1, <%= component.id %>)">
                <img class="prevBlack" src="/public/images/icons/arrow_prev_icon_black.svg" alt="previous">
                <img class="prevWhite" src="/public/images/icons/arrow_prev_icon_white.svg" alt="previous">
            </button>
            <button class="carousel-control next" onclick="movecarousel(1, <%= component.id %>)">
                <img class="forwBlack" src="/public/images/icons/arrow_forward_icon_black.svg" alt="next">
                <img class="forwWhite" src="/public/images/icons/arrow_forward_icon_white.svg" alt="next">
            </button>
</div>