<div id="linksCardsSection_<%= component.id %>"
    class="links-cards-section <%= mode === 'edit' ? 'editable' : '' %>"
    id="links-cards-section_<%= component.id %>" data-component-id="<%= component.id %>"
    data-component-content-type="<%= component.content_type %>"
    data-component-section-model="<%= component.section_model %>"
    data-component-section-position="<%= component.section_position %>" data-element="section">
    <% if (mode==='edit' ) { %>
        <div class="edit-buttons" data-component-id="bannerSection_<%= component.id %>">
            <button class="add-btn" onclick="addElement">
                <img src="/public/images/icons/add_icon_white.svg" alt="Adicionar titulo">
            </button>
            <button class="move-btn" onclick="moveElement(this, 'section')">
                <img src="/public/images/icons/move_icon_white.svg" alt="mover">
            </button>
            <button class="delete-btn" onclick="deleteElement(this)">
                <img src="/public/images/icons/remove_icon_white.svg" alt="remover">
            </button>
        </div>
        <% } %>
            <div class="titleSection">
                <h2 id="linksCardsSection_<%= component.id_title %>_title">
                    <%= component.title %>
                </h2>
            </div>

            <div>

            </div>
</div>